{% extends 'navbar.html' %}
{% block  content %}
<div class="container-fluid p-0">
        <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="education">
        <div class="my-auto">
            <h2 class="mb-5">Education</h2>

            <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
                <h3 class="mb-0">University of Colorado Boulder</h3>
                <div class="subheading mb-3">Bachelor of Science</div>
                <div>Computer Science - Web Development Track</div>
                <p>GPA: 3.23</p>
            </div>
            <div class="resume-date text-md-right">
                <span class="text-primary">August 2006 - May 2010</span>
            </div>
            </div>

            <div class="resume-item d-flex flex-column flex-md-row">
            <div class="resume-content mr-auto">
                <h3 class="mb-0">James Buchanan High School</h3>
                <div class="subheading mb-3">Technology Magnet Program</div>
                <p>GPA: 3.56</p>
            </div>
            <div class="resume-date text-md-right">
                <span class="text-primary">August 2002 - May 2006</span>
            </div>
            </div>

        </div>
        </section>

        <hr class="m-0">

</div>
{% endblock %}