<!DOCTYPE html>
<html>
<head>
{% load static %}
    <title>Home page</title>
</head>
<body>
Congratulations you have started your portfolio.
<img src="{% static 'img/example.jpg' %}" alt="My image">
</body>
</html>