{% extends 'navbar.html' %}
{% block content %}

<!-- start About -->
    <div class="container-fluid p-0">

            <section class="resume-section p-3 p-lg-5 d-flex d-column" id="about">
            <div class="my-auto">
                <h1 class="mb-0">Smart
                <span class="text-primary">Tuts</span>
                </h1>
                <div class="subheading mb-5">Bhubaneswar
                <a href="mailto:name@email.com">smarttutswithyou@gmail.com</a>
                </div>
                <p class="lead mb-5">We will be always happy to help you out on your way towards programming.</p>
                <div class="social-icons">
                <a href="#">
                    <i class="fab fa-linkedin-in"></i>
                </a>
                <a href="#">
                    <i class="fab fa-github"></i>
                </a>
                <a href="#">
                    <i class="fab fa-twitter"></i>
                </a>
                <a href="#">
                    <i class="fab fa-facebook-f"></i>
                </a>
                </div>
            </div>
            </section>
    </div>
    <!--End About -->
{% endblock%}