<!DOCTYPE html>
<html lang="en">

    <head>
    {% load static %}
    <title>My Portfolio</title>
    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet">
    <link href="{% static 'fontawesome-free/css/all.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/resume.min.css' %}" rel="stylesheet">

    </head>
<body id="page-top">

    <!-- Navbar start -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">
        <span class="d-block d-lg-none">SmartTuts</span>
        <span class="d-none d-lg-block">
            <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="{% static 'img/profile.jpg' %}" alt="">
        </span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav">
                        <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="{% url 'home_page' %}">About</a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="{% url 'education' %}">Education </a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="{% url 'experience' %}">Experience</a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="{% url 'skills' %}">Skills</a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="{% url 'interests' %}">Interests</a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="{% url 'awards' %}">Awards</a>
                        </li>
                    </ul>
        </div>
    </nav>
    <!--End Navbar -->
    {% block content %}
    {% endblock%}
    


    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

    </body>

</html> 