{% extends 'navbar.html' %}
{% block  content %}
<div class="container-fluid p-0">

        <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="skills">
        <div class="my-auto">
            <h2 class="mb-5">Skills</h2>

            <div class="subheading mb-3">Programming Languages & Tools</div>
            <ul class="list-inline dev-icons">
            <li class="list-inline-item">
                <i class="fab fa-html5"></i>
            </li>
            <li class="list-inline-item">
                <i class="fab fa-css3-alt"></i>
            </li>
            <li class="list-inline-item">
                <i class="fab fa-js-square"></i>
            </li>
            <li class="list-inline-item">
                <i class="fab fa-angular"></i>
            </li>
            <li class="list-inline-item">
                <i class="fab fa-react"></i>
            </li>
            <li class="list-inline-item">
                <i class="fab fa-node-js"></i>
            </li>
            <li class="list-inline-item">
                <i class="fab fa-sass"></i>
            </li>
            <li class="list-inline-item">
                <i class="fab fa-less"></i>
            </li>
            <li class="list-inline-item">
                <i class="fab fa-wordpress"></i>
            </li>
            <li class="list-inline-item">
                <i class="fab fa-gulp"></i>
            </li>
            <li class="list-inline-item">
                <i class="fab fa-grunt"></i>
            </li>
            <li class="list-inline-item">
                <i class="fab fa-npm"></i>
            </li>
            </ul>

            <div class="subheading mb-3">Workflow</div>
            <ul class="fa-ul mb-0">
            <li>
                <i class="fa-li fa fa-check"></i>
                Mobile-First, Responsive Design</li>
            <li>
                <i class="fa-li fa fa-check"></i>
                Cross Browser Testing & Debugging</li>
            <li>
                <i class="fa-li fa fa-check"></i>
                Cross Functional Teams</li>
            <li>
                <i class="fa-li fa fa-check"></i>
                Agile Development & Scrum</li>
            </ul>
        </div>
        </section>

        <hr class="m-0">

</div>
{% endblock %}
